@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;

}

img {
    width: 100vw;

}

a {
    display: block;
    background-color: black;
    color: white;
    padding: 5PX;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    
}

a:hover {
    text-shadow: 0px 0px 10px white;
    color:cornsilk;
    background-color: darkblue;
}
